<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <h1>Todo App</h1>
      <div class="todo-container">
        <input
          v-model="newTodo"
          @keyup.enter="addTodo"
          placeholder="Add a new todo..."
          class="todo-input"
        />
        <ul class="todo-list">
          <li
            v-for="(todo, index) in todos"
            :key="index"
            :class="{ 'completed': todo.completed }"
          >
            <input type="checkbox" v-model="todo.completed" class="checkbox" />
            {{ todo.text }}
            <button @click="deleteTodo(index)" class="delete-btn">
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3.2.24/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
